@import "tailwindcss";

/* 🎨 Aquí defines tu diseño correctamente */
:root {
  /* Azul Marino de la imagen */
  --color-primary: #002878;
  --color-primary-container: #001a4d;
  --color-on-primary: #ffffff;

  /* Fondos y Superficies */
  --color-background: #ffffff;
  --color-surface-container: #f8fafc;
  /* Un gris muy tenue para hovers */
  --color-surface-container-lowest: #ffffff;

  /* Textos y Bordes */
  --color-on-background: #0f172a;
  --color-on-surface-variant: #64748b;
  --color-outline: #cbd5e1;
  --color-outline-variant: #e2e8f0;
}